.cart-wrap{
    top:150px;
}
.card-headding{
    text-align: center;
}
.card-content-wrap{
    display: flex;
    justify-content: space-between;
}
.card-content-wrap p {
    padding: 0;
    margin:0;
}
.btn-center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}